body {
  background-color: #282828;
  color: white;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

img{
  margin: 10px 10px;
}